# Learn more: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

[*.{cs,vb}]
dotnet_style_require_accessibility_modifiers=omit_if_default:warning

# IDE0036: Order modifiers
dotnet_diagnostic.IDE0036.severity = warning

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = suggestion

#region Naming

# Styles

dotnet_naming_style.prefix_m_underscore.required_prefix = m_
dotnet_naming_style.prefix_m_underscore.capitalization = pascal_case

dotnet_naming_style.pascal_case.capitalization = pascal_case

# Symbols

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_symbols.constant_fields.applicable_kinds = field
dotnet_naming_symbols.constant_fields.required_modifiers = const

# Rules

dotnet_naming_rule.private_fields_with_m_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_with_m_underscore.style = prefix_m_underscore
dotnet_naming_rule.private_fields_with_m_underscore.severity = warning

dotnet_naming_rule.constant_fields_with_pascal_case.symbols = constant_fields
dotnet_naming_rule.constant_fields_with_pascal_case.style = pascal_case
dotnet_naming_rule.constant_fields_with_pascal_case.severity = warning

#endregion

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning

[*.xml]
indent_style = space
indent_size = 2
