# Learn more: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

[*.{cs,vb}]
dotnet_style_require_accessibility_modifiers=omit_if_default:warning

# IDE0036: Order modifiers
dotnet_diagnostic.IDE0036.severity = warning

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = suggestion

[*.xml]
indent_style = space
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
